body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    width: 90%;
    max-width: 500px;
}

h1 {
    color: #333;
}

form {
    margin-top: 20px;
}

input[type="file"] {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
    width: calc(100% - 24px); /* Ajuste para o padding */
}

button {
    background-color: #007bff;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

#statusMessage {
    margin-top: 20px;
    font-size: 1em;
}

/* Estilos adicionais para o formulário de login */
.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Garante que o padding não afete a largura total */
}

.logout {
    background-color: #dc3545;
    margin-top: 20px;
}
.logout:hover {
    background-color: #c82333;
}